<!--Created by Sean Feuerhelm-->

<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: header"></header>

<h1 th:text="${title}"></h1>

<br>
<br>

<div class="create-form">
<form method="post" enctype="multipart/form-data" >

            <!--Recipe Title and serving size-->
    <div>
        <h4>Recipe Title:
            <input th:field="${form.recipe.name}">
            Serves:
            <input th:field="${form.recipe.portionNum}" size="1/2">
        </h4>
        <p class="error" th:errors="${form.recipe.name}"></p>
        <p class="error" th:errors="${form.recipe.portionNum}"></p>
    </div>
    <br>

            <!--Ingredients that are dynamically added by inline JS-->
    <h4>Ingredients:</h4>

    <div id="ingredientContainer">
        <th:block th:each="ingredient, iter : ${form.ingredients}">
            <span>
                <input th:field="*{form.ingredients[__${iter.index}__].name}">
                <input th:field="*{form.ingredients[__${iter.index}__].quantity}" size="3">
                <select th:field="*{form.ingredients[__${iter.index}__].measurement}">
                    <option value="unit">unit</option>
                    <option value="tsp.">tsp.</option>
                    <option value="tbsp.">tbsp.</option>
                    <option value="cup">cup(s)</option>
                    <option value="drop">drop(s)</option>
                    <option value="dash">dash(s)</option>
                </select>
                <span class="error" th:errors="*{form.ingredients[__${iter.index}__].name}"></span>
                <span class="error" th:errors="*{form.ingredients[__${iter.index}__].quantity}"></span>
                <span class="error" th:errors="*{form.ingredients[__${iter.index}__].measurement}"></span>
                <br>
            </span>
        </th:block>
    </div>
    <div id="newIngredientContainer"></div>
    <br>
    <div>
        <button type="button" onclick="addIngredient()">Add Ingredient</button>
        <button type="button" onclick="removeIngredient()">Remove Ingredient</button>
    </div>
    <br>
            <!--Input for Instruction Field-->

    <h4>Instructions:</h4>
    <br>
    <div id="instructionContainer">
        <th:block th:each="instruction, iter : ${form.instructions}">
            <span>
                <span th:text="${iter.index} + 1 + '. '"></span>
                <input th:field="*{form.instructions[__${iter.index}__].details}">
                <span class="error"  th:errors="*{form.instructions[__${iter.index}__].details}"></span>
                <br>
            </span>
        </th:block>
    </div>
    <div id="newInstructionContainer"></div>
    <br>
    <div>
        <button type="button" onclick="addInstruction()">Add Instruction</button>
        <button type="button" onclick="removeInstruction()">Remove Instruction</button>
    </div>
    <br>

    <div>
        <h5>Add an Image:
            <input type="file" accept="image/*" th:field="${form.image}">
        </h5>
    </div>

    <br>

    <div>
        <label class="container">Tags:
            <input class="checkmark" type="checkbox" name="form.tags"
                   th:each="tag : ${tags}"
                   th:text="${tag.name}"
                   th:value="${tag.id}"
                   th:field="*{form.tags}"
            ><br></input>
        </label>
    </div>

    <br>

    <div>
    <input type="submit" value="Submit">
    </div>
</form>
</div>

<p>Can't find a tag that describes your recipe? <a th:href="@{/recipe/tags}">Create new tags here</a></p>

<!--JavaScript meant to add additional Text Boxes-->
<script type="text/javascript" th:src="@{/JS/dynamicInputs.js}"></script>

</body>
</html>