<!--Created by Sean Feuerhelm-->

<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<form method="post">

            <!--Recipe Title and serving size-->
    <div>
        <label>Recipe Title:
            <input th:field="${form.recipe.name}">
            Serves:
            <input th:field="${form.recipe.portionNum}" size="1/2">
        </label>
    </div>

            <!--Ingredients that are dynamically added by inline JS-->
    <label>Ingredients:</label>
    <div id="newIngredientContainer"></div>

            <!--Input for Instruction Field-->
    <div>
        <label>Instructions:
            <input th:field="${form.recipe.instructions}">
        </label>
    </div>

    <br>

    <div>
    <button type="button" onclick="addIngredient()">Add Ingredient</button>
    <button type="button" onclick="removeIngredient()">Remove Ingredient</button>
    <input type="submit" value="Submit">
    </div>
</form>


<!--JavaScript meant to add additional Text Boxes-->
<script th:inline="javascript">
       let ingredientCount = 0;

    function addIngredient() {
        let container = document.getElementById("newIngredientContainer");

        // Creates ingredient name text box
        let ingredientName = document.createElement("input");
        ingredientName.type = "text";
        ingredientName.placeholder = "Name";
        ingredientName.setAttribute("th:field", "*{form.ingredients[" + ingredientCount + "].name}");
        container.appendChild(ingredientName);

        // Creates ingredient quantity text box
        let ingredientQuantity = document.createElement("input");
        ingredientQuantity.type = "text";
        ingredientQuantity.placeholder = "Quantity";
        ingredientQuantity.setAttribute("size", "3");
        ingredientQuantity.setAttribute("th:field", "*{form.ingredients[" + ingredientCount + "].quantity}");
        container.appendChild(ingredientQuantity);

        // Creates measurement select element
        let measurementUnit = document.createElement("select");
        measurementUnit.setAttribute("th:field", "*{form.ingredients[" + ingredientCount + "].measurement}");

        // Adds options to the select element
        let defaultOption = document.createElement("option");
        defaultOption.text = "unit";
        measurementUnit.appendChild(defaultOption);

        let option1 = document.createElement("option");
        option1.text = "tsp.";
        option1.value = "tsp.";
        measurementUnit.appendChild(option1);

        let option2 = document.createElement("option");
        option2.text = "tbsp.";
        option2.value = "tbsp.";
        measurementUnit.appendChild(option2);

        let option3 = document.createElement("option");
        option3.text = "cup(s)";
        option3.value = "cup";
        measurementUnit.appendChild(option3);

        let option4 = document.createElement("option");
        option4.text = "drop(s)";
        option4.value = "drop";
        measurementUnit.appendChild(option4);

        let option5 = document.createElement("option");
        option5.text = "dash(s)";
        option5.value = "dash";
        measurementUnit.appendChild(option5);

        container.appendChild(measurementUnit);

        // Creates line break after new ingredient
        let linebreak = document.createElement("br");
        container.appendChild(linebreak);

        ingredientCount++;
    }

    addIngredient();

    function removeIngredient() {
        let container = document.getElementById("newIngredientContainer");

        if (ingredientCount > 0) {
            container.removeChild(container.lastElementChild);
            container.removeChild(container.lastElementChild);
            container.removeChild(container.lastElementChild);
            container.removeChild(container.lastElementChild);
            ingredientCount--;
        }
    }
  </script>
</body>
</html>