<!--Created by Sean Feuerhelm-->

<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: header"></header>

<h1 th:text="${title}"></h1>

<br>

<form method="post">

            <!--Recipe Title and serving size-->
    <div>
        <label>Recipe Title:
            <input th:field="${form.recipe.name}">
            Serves:
            <input th:field="${form.recipe.portionNum}" size="1/2">
        </label>
        <span class="error" th:errors="${form.recipe.name}"></span>
        <span class="error" th:errors="${form.recipe.portionNum}"></span>
    </div>

            <!--Ingredients that are dynamically added by inline JS-->
    <label>Ingredients:</label>
    <div id="newIngredientContainer"></div>

            <!--Input for Instruction Field-->
    <div>
        <label>Instructions:
            <input th:field="${form.recipe.instructions}">
        </label>
        <span class="error"  th:errors="${form.recipe.instructions}"></span>
    </div>

    <br>

    <div>
        <label>Tags:
            <input type="checkbox" name="form.tags"
                   th:each="tag : ${tags}"
                   th:text="${tag.name}"
                   th:value="${tag.id}"
                   th:field="*{form.tags}"
            />
        </label>
    </div>

    <br>

    <div>
    <button type="button" onclick="addIngredient()">Add Ingredient</button>
    <button type="button" onclick="removeIngredient()">Remove Ingredient</button>
    <input type="submit" value="Submit">
    </div>
</form>

<p>Can't find a tag that describes your recipe? <a th:href="@{/recipe/tags}">Create new tags here</a></p>

<!--JavaScript meant to add additional Text Boxes-->
<script type="text/javascript" th:src="@{/JS/dynamicIngredients.js}"></script>

</body>
</html>