<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: header"></header>

<h1 th:text="${title}"></h1>

<br>
<br>

<div class="recipe-container">
    <form method="post">
        <div>
            <label>Name
                <input th:field="${tag.name}">
                <input class="btn btn-outline-success" type="submit" value="Create">
            </label>
            <p class="error" th:errors="${tag.name}"></p>

        </div>
        <br>

    </form>

    <div th:replace="fragments :: all-tags"></div>

</div>

</body>
</html>