<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body onload="addComment()">

<header th:replace="fragments :: header"></header>

<h1 th:text="${title}"></h1>

<br>
<br>

<div class="recipe-container">
        <img class="recipe-image" th:src="@{${recipe.imagePath}}">
        <h3 th:text="${recipe.name}">Recipe title</h3>
        <label>Serves:
            <a>
                <form method="post" th:action="@{/recipe/convert/__${recipe.id}__}">
                    <input size="1" th:value="${recipe.portionNum}" id="portionNum" name="portionNum">
                    <button type="submit" class="btn btn-secondary btn-sm">Convert</button>
                </form>
            </a>
        </label>
        <br>
        <br>
        <ul>
            <li th:each="ingredient : ${recipe.ingredientList}" th:text="${ingredient.name} + ': ' + ${ingredient.quantity} + ' ' + ${ingredient.measurement}">
                Ingredient, amount, measurement
            </li>
        </ul>
        <br>
        <ol>
            <li th:each="instruction : ${recipe.instructions}" th:text="${instruction}" ></li>
        </ol>


    <div th:replace="fragments :: recipe-tags"></div>

    <div>
        <a th:href="@{/recipe/edit/__${recipe.id}__}" class="btn btn-outline-success" role="button">Edit</a>
        <a th:href="@{/recipe/delete/__${recipe.id}__}" onclick="confirmDeletion()" class="btn btn-outline-danger" role="button">Delete</a>
    </div>
    <br>

    <div>
        <td th:text = "${recipe.userLikeCount()} + ' '"></td>
        <td th:if="${user}">
            <span th:if="${recipe.userLiked(user.getId())}"><a th:href="@{'/recipe/view/' + ${recipe.getId()} + '/like'}"><button class="btn btn-primary">Unlike</button></a></span>
            <span th:unless="${recipe.userLiked(user.getId())}"><a th:href="@{'/recipe/view/' + ${recipe.getId()} + '/like'}"><button class="btn btn-primary">Like</button></a></span>
        </td>
        <td th:unless="${user}">
            <span><button class="btn btn-primary" onclick="likeLogIn()">Like</button></span>
            <span id="likeLogIn"></span>

        </td>
    </div>

    <br>
    <div th:replace="fragments :: rating"></div>
</div>




<script th:inline="javascript">
let likeLoginCount = 0;
function likeLogIn(){
    if (likeLoginCount < 1){
        let span = document.getElementById('likeLogIn');
        let a = document.createElement('a');
        a.innerHTML="Please Log In!";
        a.setAttribute('href', '/login');
        span.appendChild(a);
        likeLoginCount++;
        }
    }
</script>


<script type="text/javascript" th:src="@{/JS/deletionConfirmation.js}"></script>


<!--<hr />-->
<br>

<div id="comments-container">
    <!--TESTING-->
    <div th:each="comment : ${recipe.comments}" class="comment_box">
        <div class="inside_comment">
            <div class="comment_user" th:text="${comment.name}"></div>
        </div>
        <div class="comment_body">
            <p th:text="${comment.comment}"></p>
        </div>
        <hr>
    </div>

    <form method="post">
        <div id="newCommentBox"></div>

        <div>
            <input type="submit" value="Add Comment"/>
        </div>
        </br>
    </form>
</div>


<script th:inline="javascript">
    function addComment() {
        let commentBox = document.getElementById("newCommentBox");
        commentBox.value = "";

        let commentName = document.createElement("input");
        commentName.type = "text";
        commentName.placeholder = "Name";
        commentName.setAttribute("name", "commentName");
        commentName.setAttribute("value", "");
        commentBox.appendChild(commentName);

        let linebreak = document.createElement("br");
        commentBox.appendChild(linebreak);

        let commentComment = document.createElement("textarea");
        commentComment.type = "text";
        commentComment.placeholder = "Comment";
        commentComment.setAttribute("name", "commentComment");
        commentComment.setAttribute("value", "");
        commentBox.appendChild(commentComment);

    }
</script>

</body>
</html>