<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container  body-content">
<h1>Add Favorite</h1>

<form method="post" enctype="multipart/form-data" >
    <div>
        <label>Recipes:
            <input type="checkbox" name="form.favorites"
                   th:each="recipe : ${recipes}"
                   th:text="${recipe.name}"
            />
        </label>
    </div>

    <input type="submit" value="Add Favorite" />
</form>

</body>
</html>