<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container  body-content">

<h1>Favorites</h1>

<form method="post">

    <div>
        <label th:for="recipe">Recipe</label>
        <select th:field="${favorite.recipe}">
            <option th:each="recipe : ${recipes}"
            th:value="${recipe.id}"
            th:text="${recipe.name}"></option>
        </select>
</div>
<br>
<input type="submit" value="Add to Favorites" />

</form>

</body>
</html>
