<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container  body-content">
<h1>Add Favorite</h1>

<nav th:replace="fragments :: page-header"></nav>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Recipe Name</label>
        <input class="form-control" th:field="${favorite.name}" />
        <span th:errors="${favorite.name}" class="error"></span>
    </div>

    <input type="submit" value="Add Favorite" />
</form>

</body>
</html>
