<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Favorite: ' + favorite.name}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="favorite-listing">
    <p th:text="${'Name: ' + recipe.name}"></p>

    <h1> Favorites:</h1>
    <ul>
        <li th:each="recipe : ${favorite.recipes}">
            <a th:href="@{'/view/'}" + th:text="${recipe.name}"></a>
        </li>
    </ul>
    </p>
</div>
</body>
</html>
