<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head">
</head>
<body>
    <header th:replace="fragments :: header"></header>
    <div th:replace="fragments :: sidebar"></div>
    <div class="mainBody">
        <button type="button" class="btn btn-secondary btn-lg"><a th:href="@{'/recipe/create'}"></a>Add Recipe</button>
        <table class="table">
           <thead id="myRecipesTitle">
            <tr>
                <th class="text-center h1 p-3">My Recipes</th>
            </tr>
            </thead>
            <tr th:each="recipe : ${recipes}">
                <td><img th:if="${recipe.imagePath}" th:src="@{${recipe.imagePath}}"/></td>
                <td><a th:href="@{'/recipe/view/' + ${recipe.getId()}}"><h3 th:text="${recipe.name}">Recipe Title</h3></a></td>
            </tr>
        </table>
    </div>
</body>
</html>