<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<header th:replace="fragments :: header"></header>
<div th:replace="fragments :: sidebar"></div>
<h1>My Recipes</h1>
<div th:each="recipe : ${recipes}">
    <img th:if="${recipe.imagePath}" th:src="@{${recipe.imagePath}}"/>
    <a th:href="@{'/recipe/view/' + ${recipe.getId()}}"><h3 th:text="${recipe.name}">Recipe Title</h3></a>

</div>
</body>
</html>