#top9container{
    display: flex;
    flex-wrap: wrap;
}
.top9element{
    flex-basis: 33.333333%;
}

.ratingButtonEmpty {
    background:url(/images/star.png) no-repeat;
    cursor:pointer;
    width: 20px;
    height: 20px;
    border: none;
}

.ratingButtonEmpty:hover {
    background:url(/images/star_filled.png) no-repeat;
}

.ratingButtonFull {
    background:url(/images/star_filled.png) no-repeat;
    cursor:pointer;
    width: 20px;
    height: 20px;
    border: none;
}

.ratingButtonHalf {
    background:url(/images/star_filled_half.png) no-repeat;
    cursor:pointer;
    width: 20px;
    height: 20px;
    border: none;
}
.ratingButtonHalf:hover {
    background:url(/images/star_filled.png) no-repeat;
}

.sidebar {
        background-color: #D3D3D3;
        width: 180px;
        position: fixed;
        top: 10%;
        height: 100%;
}

#search {
     padding-right: 50px;
}

.sidebar-list {
    list-style-type: none
    padding-top: 50px
}

.sidebar-link {
    color: black;
    text-decoration: none
}

.sidebar-list-item {
    padding: 10px
}

.error {
  color: red;
}

.create-form {
    width: 50%;
    border: 2px solid;
    padding: 60px;
    margin: auto;
}

.form-text{
    font-size: 2.5em;
}



/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
