.home-middle {
    margin: auto;
    margin-left: 180px;
    padding:10px;
    padding-top: 32px;
    width: 75%;
}

#top9container{
    display: flex;
    flex-wrap: wrap;
}

.top9element{
    flex-basis: 33.33333333333333%;
    margin-bottom: 5px;
}

.top9inner{
    height: 100%;
    padding: 10px;
    margin: 5px;
    border: 2px solid;
    -webkit-box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.75);
    background: url(/images/noise-form-white.png);
    overflow-wrap: break-word;
}

.top9element img{
  max-width: 100%;
  height: auto;
}

.ratingButtonEmpty {
    background:url(/images/star.png) no-repeat;
    cursor:pointer;
    width: 37px;
    height: 36px;
    border: none;
}

.ratingButtonEmpty:hover {
    background:url(/images/star_filled.png) no-repeat;
}

.ratingButtonFull {
    background:url(/images/star_filled.png) no-repeat;
    cursor:pointer;
    width: 37px;
    height: 36px;
    border: none;
}

.ratingButtonHalf {
    background:url(/images/star_filled_half.png) no-repeat;
    cursor:pointer;
    width: 37px;
    height: 36px;
    border: none;
}

.ratingButtonHalf:hover {
    background:url(/images/star_filled.png) no-repeat;
}

.sidebar {
        background-color: #D3D3D3;
        width: 180px;
        position: fixed;
        top: 10%;
        height: 100%;
        margin-top: 10px;
}

#sidebarSearch {
     padding-right: 50px;
}
#adv-search {
     padding-right: 25px;
}

.sidebar-list {
    list-style-type: none
    padding-top: 50px
}

.sidebar-link {
    color: black;
    text-decoration: none
}

.sidebar-list-item {
    padding: 10px
}

.error {
  color: red;
}

.recipe-container {
    width: 50%;
    border: 2px solid;
    padding: 60px;
    margin: auto;
    -webkit-box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.75);
    background: url(/images/noise-form-white.png);
    overflow-wrap: break-word;
}

.instructions{
    width: 60%;
    height: 60px;
}

.ingredient-names {
    width: 35%;
}

.ingredient-quantity{
    width: 15%;
}

.ingredient-measurement{
    width: 15%;
}

.recipe-image{
    width: 35%;
    margin: auto;
    float: right;
    -webkit-box-shadow: 0px 0px 19px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 19px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 19px -7px rgba(0,0,0,0.75);
    border-radius:var(--bs-border-radius-xxl);
}

.login-register-buffer{
    padding-top:100px;
}

.login-register-container {
    width: 50%;
    border: 2px solid;
    padding: 60px;
    margin: auto;
    -webkit-box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.75);
    overflow-wrap: break-word;
}

.login-register-form {
        width: 100%;
        padding: 60px;
        margin: auto;;
        overflow-wrap: break-word;
}

.bg-success.bs-navbar-padding{
    padding-top: 0;
    padding-bottom: 0;
}

header {
    width: 100%;
    position: fixed;
    margin-top: -5px;
    margin-bottom: 0px;
}

.mainBody {
    padding-top: 150px;
    padding-left: 250px;
}

.myRecipeImg {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

img-link {
    color: black;
    text-decoration: none;
}



