<!DOCTYPE html>
<html lang="en" xmlns:th="https//www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head"></head>

<body onload="addSearchBox(), addSearchBox()">

<header th:replace="fragments :: header"></header>

<div class="container body-content">

    <br>
    <br>
    <br>
    <br>

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>


    <!-- Determines the route for the post method that will go with the SearchController(SC) and ListController(LC) if needed-->
    <form th:action="@{/adv-search/results}" method = "post">
        <h2>Advanced Search:</h2>

        <!-- This the normal search box and can add up to 5 of them -->
        <div id="newSearchBox"></div>
        <br>
        <button class="btn btn-outline-success" type="button" onclick="addSearchBox()">Add Parameter</button>
        <button class="btn btn-outline-danger" type="button" onclick="removeSearchBox()">Remove Parameter</button>
        </br></br>

        <div>
            <input class="btn btn-outline-primary" type="submit" value="Search" /></br>
            <!-- should go to the normal search page -->
            <a href="/search">Normal Search</a>
        </div>
        </br>
    </form>

<!-- JavaScript to add additional search boxes up to 5 -->
    <script th:inline="javascript">
        let searchBoxCount = 0;

        function addSearchBox() {
            if (searchBoxCount < 5) {
                let searchBox = document.getElementById("newSearchBox");

                //Create select and option for type of search
                let searchType = document.createElement("select");
                searchType.setAttribute("name", "searchType");

                let defaultOption = document.createElement("option");
                defaultOption.text = "All";
                defaultOption.value = "all";
                searchType.appendChild(defaultOption);

                let option1 = document.createElement("option");
                option1.text = "Name";
                option1.value = "name";
                searchType.appendChild(option1);

                let option2 = document.createElement("option");
                option2.text = "Ingredients";
                option2.value = "ingredients";
                searchType.appendChild(option2);

                let option3 = document.createElement("option");
                option3.text = "Tags";
                option3.value = "tags";
                searchType.appendChild(option3);

                searchBox.appendChild(searchType);

                //Creates spacing between select box and the word "keyword"
                let spacing = document.createElement("span");
                spacing.innerHTML = " ";
                searchBox.appendChild(spacing);


                // Creates label
                let keyword = document.createElement("label");
                keyword.for = "searchTerm";
                keyword.innerHTML = " Keyword: ";
                searchBox.appendChild(keyword);


                // Creates the text box for searchTerm
                let searchTerm = document.createElement("input");
                searchTerm.type = "text";
                searchTerm.setAttribute("name", "searchTerm");
                searchBox.appendChild(searchTerm);

                // Creates line break after new searchBox
                let linebreak = document.createElement("br");
                searchBox.appendChild(linebreak);

                searchBoxCount++;
            }
        }

        function removeSearchBox() {
            let searchBox = document.getElementById("newSearchBox");

            if(searchBoxCount > 2) {
                searchBox.removeChild(searchBox.lastElementChild);
                searchBox.removeChild(searchBox.lastElementChild);
                searchBox.removeChild(searchBox.lastElementChild);
                searchBox.removeChild(searchBox.lastElementChild);
                searchBox.removeChild(searchBox.lastElementChild);
                searchBoxCount--;
            }

        }
    </script>

    <hr />

    <!-- Search Results and how are they going to look show up after submit -->
    <div id="top9container" class="search-middle">
        <th:block th:each="recipe : ${recipes}">
            <div class="top9element">
                <div class="top9inner">
                    <a th:href="@{'/recipe/view/' + ${recipe.getId()}}"><img th:if="${recipe.imagePath}" th:src="@{${recipe.imagePath}}"></a>
                    <h3>
                        <a th:href="@{'/recipe/view/' + ${recipe.id}}" th:text="${recipe.name}"></a>
                    </h3>
                    <p>
                        Ingredients:
                        <ul>
                            <li th:each="ingredient : ${recipe.ingredientList}" th:text="${ingredient.name}"></li>
                        </ul>
                    </p>
                    <p>
                        tags:
                        <ul>
                            <li th:each="tag : ${recipe.tags}" th:text="${tag.name}"></li>
                        </ul>
                    </p>

                </div>
            </div>
        </th:block>
    </div>

</div>

<br>
<br>

</body>
</html>