<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Recipes</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<header th:fragment="header">
    <div class="nav">
        <a href="/home">Home</a>
        <a href="/profile">Profile</a>
        <a href="/viewAll">View All Recipes</a>
        <a href="/search" id="search">Search</a>
    </div>
</header>

<div th:fragment="all-tags">
    <ul th:each="tag: ${tags}">
        <li th:text="${tag.name}"></li>
    </ul>
</div>
<div th:fragment="recipe-tags">
    <ul th:each="tag: ${recipe.tags}">
        <li th:text="${tag.name}"></li>
    </ul>
</div>
</body>
</html>