<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Recipes</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<header th:fragment="header">
    <div class="nav">
        <a href="/home">Home</a>
        <a href="/profile">Profile</a>
        <a href="/viewAll">View All Recipes</a>
        <a href="/search" id="search">Search</a>
    </div>
</header>

<div th:fragment="tags">
    <ul th:each="tag: ${tags}">
        <li th:text="${tag.name}"></li>
    </ul>
</div>

    <div class="container">
        <nav th:fragment="navigation">
        <form action="https://www.google.com/search" method="get" class="search-bar">
            <input type="text" placeholder="Search by" name="q">
            <select>
            "<option value='Recent Recipes'>Recent Recipes</option>" +
            "<option value='Recipe Name'>Recipe</option>" +
            "<option value='My Favorite'>Favorite</option>" +
            "<option value='My Menu'> My Menu</option> +
            "<option value='Grocery List'>Grocery List</option>
            "<option value='View All'>View All</option>
            "<option value='Advanced Search'>Advanced Search </option>"
            "</select>
            <button type="submit">Search</button>
        </form>
</nav>
    </div>
</body>
</html>