<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
<header th:replace="fragments :: header"></header>
<div class="login-register-container">
    <div class="login-register-form">
        <p>
            <h1 th:text="${title}"></h1>
        </p>
        <form class="form-group" method = "post">
            <div>
                <input class="form-control" type="email" placeholder="Email" th:field="${registrationDTO.email}">
                <p th:errors="${registrationDTO.email}"></p>
            </div>
            <br>
            <div>
                <input class="form-control" placeholder="Username" th:field="${registrationDTO.username}">
                <p th:errors="${registrationDTO.username}"></p>
            </div>
            <br>
            <div>
                <input class="form-control" type="password" placeholder="Password "th:field="${registrationDTO.password}">
                <p th:errors="${registrationDTO.password}"></p>
            </div>
            <br>
            <div>
                <input class="form-control" type="password" placeholder="Verify Password"th:field="${registrationDTO.verifyPassword}">
                <p th:errors="${registrationDTO.verifyPassword}"></p>
            </div>
            <br>
            <input class="btn btn-primary" type="submit" value="Register" />
        </form>
    </div>
</div>
</body>
</html>