<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" method = "post">
        <h2>Search by:</h2>


        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">KeyWord:</label>
            <input type="text" name="searchTerm" id="searchTerm" />

        </p>

        <input type="submit" value="Search" />
        <a href=" /adv-search">Advanced Search</a>

    </form>

    <hr />


    <table class="recipe-listing">
        <tr th:each="recipe : ${recipes}">
            <td>
                <p>
                    Name:
                    <a th:href="@{'/recipe/view/' + ${recipe.id}}" th:text="${recipe.name}"></a>
                </p>
                <p>
                    Ingredients:
                <p th:text="${recipe.ingredientLists}"></p>

                <p>
                    Tags:
                <a th:each="tag : ${recipe.tags}" th:href="@{'/tags/view/' + ${tag.id}}" th:text="${tag.name}"></a>
                    </p>

            </td>
        </tr>
    </table>

</div>

</body>
