<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<div th:replace="fragments :: header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" method = "post">
        <h2>Search by:</h2>

        <p>
        <div class="container">
            <nav th:fragment="navigation">
                <form>
                    <div class ="inputBox">
                        <input type="text" placeholder="Search by" name="q">
                    <select>
                        "<option value='Recipe Name'>Recipe Name</option>" +
                        "<option value='tag'>Tag</option>" +
                        "<option value='Ingredients'>Ingredients</option>"
                        "</select>
                    <input type="text" placeholder="Search Term" name="q">
                    <button type="submit">Search</button>
                    </div>
                </form>
            </nav>
        </div>

        </p>


    </form>

    <hr />

    <table th:each="recipe : ${recipes}" class="tag">
        <tr><td>ID <span th:text="${recipe.id}"></span></td></tr>
        <tr><td>Name <span th:text="${recipe.name}"></span></td></tr>
        <tr><td>Recipe <span th:text="${recipe.tag}"></span></td></tr>
        <tr><td>Ingredient <span th:text="${recipe.ingredient}"></span></td></tr>

    </table>
</div>

</body>
</html>